우도 지역의 강수량을 예측한다.

In [21]:
import pandas as pd
import numpy as np

rain_train = pd.read_csv('data/rain/train.csv')
rain_test = pd.read_csv('data/rain/test.csv')
rain_submission = pd.read_csv('data/rain/submission.csv')

In [2]:
rain_submission

      No  rain fall(mm)
0      1              0
1      2              0
2      3              0
3      4              0
4      5              0
..   ...            ...
869  870              0
870  871              0
871  872              0
872  873              0
873  874              0

[874 rows x 2 columns]

In [3]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
rain_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   지점                   3504 non-null   int64
 1   일시                   3504 non-null   object
 2   평균기온(°C)             3488 non-null   float64
 3   최저기온(°C)             3493 non-null   float64
 4   최저기온 시각(hhmi)        3493 non-null   float64
 5   최고기온(°C)             3493 non-null   float64
 6   최고기온 시각(hhmi)        3493 non-null   float64
 7   일강수량(mm)             3500 non-null   float64
 8   최대 순간 풍속(m/s)        3471 non-null   float64
 9   평균 풍속(m/s)           3468 non-null   float64
 10  최대 순간 풍속 풍향(deg)     2021 non-null   float64
 11  최대 순간풍속 시각(hhmi)     2882 non-null   float64
 12  1시간 최다강수량(mm)        1726 non-null   float64
 13  1시간 최다 강수량 시각(hhmi)  567 non-null    float64
 14  최대 순간 풍속 풍향(hhmi)    1451 non-null   float64
dtypes: float64(13), int64(1), object(1)
memory usage: 410.8+ KB

In [5]:
rain_train.isnull().sum()

지점                        0
일시                        0
평균기온(°C)                 16
최저기온(°C)                 11
최저기온 시각(hhmi)            11
최고기온(°C)                 11
최고기온 시각(hhmi)            11
일강수량(mm)                  4
최대 순간 풍속(m/s)            33
평균 풍속(m/s)               36
최대 순간 풍속 풍향(deg)       1483
최대 순간풍속 시각(hhmi)        622
1시간 최다강수량(mm)          1778
1시간 최다 강수량 시각(hhmi)    2937
최대 순간 풍속 풍향(hhmi)      2053
dtype: int64

In [6]:
rain_train[rain_train['평균기온(°C)'].notnull()]['평균기온(°C)'].mean()
rain_train['평균기온(°C)'] = rain_train['평균기온(°C)'].fillna(rain_train[rain_train['평균기온(°C)'].notnull()]['평균기온(°C)'].mean()) # 평균으로 null을 교체
rain_train['최저기온(°C)'] = rain_train['최저기온(°C)'].fillna(rain_train[rain_train['최저기온(°C)'].notnull()]['최저기온(°C)'].mean()) # 평균으로 null을 교체
rain_train['최저기온 시각(hhmi)'] = rain_train['최저기온 시각(hhmi)'].fillna(rain_train[rain_train['최저기온 시각(hhmi)'].notnull()]['최저기온 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_train['최고기온(°C)'] = rain_train['최고기온(°C)'].fillna(rain_train[rain_train['최고기온(°C)'].notnull()]['최고기온(°C)'].mean()) # 평균으로 null을 교체
rain_train['최고기온 시각(hhmi)'] = rain_train['최고기온 시각(hhmi)'].fillna(rain_train[rain_train['최고기온 시각(hhmi)'].notnull()]['최고기온 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_train['일강수량(mm)'] = rain_train['일강수량(mm)'].fillna(0) # 평균으로 null을 교체
rain_train['최대 순간 풍속(m/s)'] = rain_train['최대 순간 풍속(m/s)'].fillna(rain_train[rain_train['최대 순간 풍속(m/s)'].notnull()]['최대 순간 풍속(m/s)'].mean()) # 평균으로 null을 교체
rain_train['평균 풍속(m/s)'] = rain_train['평균 풍속(m/s)'].fillna(rain_train[rain_train['평균 풍속(m/s)'].notnull()]['평균 풍속(m/s)'].mean()) # 평균으로 null을 교체
rain_train['최대 순간 풍속 풍향(deg)'] = rain_train['최대 순간 풍속 풍향(deg)'].fillna(rain_train[rain_train['최대 순간 풍속 풍향(deg)'].notnull()]['최대 순간 풍속 풍향(deg)'].mean()) # 평균으로 null을 교체
rain_train['최대 순간풍속 시각(hhmi)'] = rain_train['최대 순간풍속 시각(hhmi)'].fillna(rain_train[rain_train['최대 순간풍속 시각(hhmi)'].notnull()]['최대 순간풍속 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_train['1시간 최다강수량(mm)'] = rain_train['1시간 최다강수량(mm)'].fillna(rain_train[rain_train['1시간 최다강수량(mm)'].notnull()]['1시간 최다강수량(mm)'].mean()) # 평균으로 null을 교체
rain_train['1시간 최다 강수량 시각(hhmi)'] = rain_train['1시간 최다 강수량 시각(hhmi)'].fillna(rain_train[rain_train['1시간 최다 강수량 시각(hhmi)'].notnull()]['1시간 최다 강수량 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_train['최대 순간 풍속 풍향(hhmi)'] = rain_train['최대 순간 풍속 풍향(hhmi)'].fillna(rain_train[rain_train['최대 순간 풍속 풍향(hhmi)'].notnull()]['최대 순간 풍속 풍향(hhmi)'].mean()) # 평균으로 null을 교체

In [7]:
rain_test[rain_test['평균기온(°C)'].notnull()]['평균기온(°C)'].mean()
rain_test['평균기온(°C)'] = rain_test['평균기온(°C)'].fillna(rain_test[rain_test['평균기온(°C)'].notnull()]['평균기온(°C)'].mean()) # 평균으로 null을 교체
rain_test['최저기온(°C)'] = rain_test['최저기온(°C)'].fillna(rain_test[rain_test['최저기온(°C)'].notnull()]['최저기온(°C)'].mean()) # 평균으로 null을 교체
rain_test['최저기온 시각(hhmi)'] = rain_test['최저기온 시각(hhmi)'].fillna(rain_test[rain_test['최저기온 시각(hhmi)'].notnull()]['최저기온 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_test['최고기온(°C)'] = rain_test['최고기온(°C)'].fillna(rain_test[rain_test['최고기온(°C)'].notnull()]['최고기온(°C)'].mean()) # 평균으로 null을 교체
rain_test['최고기온 시각(hhmi)'] = rain_test['최고기온 시각(hhmi)'].fillna(rain_test[rain_test['최고기온 시각(hhmi)'].notnull()]['최고기온 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_test['최대 순간 풍속(m/s)'] = rain_test['최대 순간 풍속(m/s)'].fillna(rain_test[rain_test['최대 순간 풍속(m/s)'].notnull()]['최대 순간 풍속(m/s)'].mean()) # 평균으로 null을 교체
rain_test['평균 풍속(m/s)'] = rain_test['평균 풍속(m/s)'].fillna(rain_test[rain_test['평균 풍속(m/s)'].notnull()]['평균 풍속(m/s)'].mean()) # 평균으로 null을 교체
rain_test['최대 순간 풍속 풍향(deg)'] = rain_test['최대 순간 풍속 풍향(deg)'].fillna(rain_test[rain_test['최대 순간 풍속 풍향(deg)'].notnull()]['최대 순간 풍속 풍향(deg)'].mean()) # 평균으로 null을 교체
rain_test['최대 순간풍속 시각(hhmi)'] = rain_test['최대 순간풍속 시각(hhmi)'].fillna(rain_test[rain_test['최대 순간풍속 시각(hhmi)'].notnull()]['최대 순간풍속 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_test['1시간 최다강수량(mm)'] = rain_test['1시간 최다강수량(mm)'].fillna(rain_test[rain_test['1시간 최다강수량(mm)'].notnull()]['1시간 최다강수량(mm)'].mean()) # 평균으로 null을 교체
rain_test['1시간 최다 강수량 시각(hhmi)'] = rain_test['1시간 최다 강수량 시각(hhmi)'].fillna(rain_test[rain_test['1시간 최다 강수량 시각(hhmi)'].notnull()]['1시간 최다 강수량 시각(hhmi)'].mean()) # 평균으로 null을 교체
rain_test['최대 순간 풍속 풍향(hhmi)'] = rain_test['최대 순간 풍속 풍향(hhmi)'].fillna(rain_test[rain_test['최대 순간 풍속 풍향(hhmi)'].notnull()]['최대 순간 풍속 풍향(hhmi)'].mean()) # 평균으로 null을 교체

In [8]:
rain_train

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),최대 순간풍속 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),최대 순간 풍속 풍향(hhmi)
0,725,2018-11-03,16.6,14.7,439.0,18.5,1231.0,0.0,4.8,2.6,3.600000,1158.000000,1.618192,1015.696649,224.012612
1,725,2018-05-29,19.3,17.9,739.0,22.6,1505.0,13.5,4.9,1.9,97.100000,341.000000,1.618192,1015.696649,224.012612
2,725,2019-12-10,13.4,8.6,48.0,17.4,1142.0,0.0,5.1,1.8,191.100000,334.000000,1.618192,1015.696649,224.012612
3,725,2010-06-04,18.3,15.6,509.0,21.8,1044.0,0.0,6.0,2.7,211.868234,1739.000000,0.000000,1015.696649,176.600000
4,725,2017-04-01,10.5,9.1,649.0,12.7,1429.0,0.0,8.6,5.3,312.700000,1159.609646,1.618192,1015.696649,224.012612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,725,2020-03-28,9.4,7.8,1138.0,10.4,2321.0,5.0,18.3,7.6,297.800000,32.000000,1.618192,1015.696649,224.012612
3500,725,2014-03-31,13.7,10.7,236.0,18.2,1331.0,0.0,7.7,1.9,211.868234,10.000000,0.000000,1015.696649,305.800000
3501,725,2014-11-23,17.5,15.0,33.0,19.9,1539.0,0.0,8.6,2.5,211.868234,1240.000000,0.000000,1015.696649,91.600000
3502,725,2018-03-09,6.1,4.5,318.0,8.5,1413.0,0.0,8.6,4.1,325.900000,1.000000,1.618192,1015.696649,224.012612
3503,725,2013-09-07,21.5,20.4,2329.0,22.8,1235.0,5.5,10.1,3.5,211.868234,441.000000,1.500000,300.000000,50.300000

In [9]:
rain_test

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),최대 순간풍속 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),최대 순간 풍속 풍향(hhmi)
0,725,2012-01-21,8.900000,6.4,2352.0,10.7,1020.0,13.3,6.1,211.18435,152.000000,0.500000,1300.000000,68.30000
1,725,2014-02-17,8.400000,7.4,2010.0,10.3,159.0,18.2,6.2,211.18435,1922.000000,4.000000,1400.000000,52.00000
2,725,2016-02-18,7.700000,3.6,643.0,12.4,1345.0,9.2,2.6,244.50000,1146.837017,1.924342,1109.868421,216.79543
3,725,2013-09-16,23.500000,21.8,657.0,25.9,1434.0,9.3,3.9,211.18435,1021.000000,0.000000,1109.868421,343.90000
4,725,2014-06-02,20.000000,17.9,1314.0,21.7,739.0,16.8,5.5,211.18435,929.000000,13.500000,1300.000000,166.60000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,725,2016-12-14,6.900000,5.6,2058.0,9.4,1.0,13.9,7.5,323.40000,1146.837017,1.924342,1109.868421,216.79543
870,725,2020-09-02,15.989055,24.6,2005.0,27.4,1.0,32.4,15.5,14.90000,2009.000000,1.924342,1109.868421,216.79543
871,725,2014-10-03,19.700000,18.0,2141.0,22.0,1456.0,12.6,6.6,211.18435,1735.000000,0.000000,1109.868421,344.90000
872,725,2014-11-01,18.400000,17.0,2337.0,19.7,1257.0,11.2,4.7,211.18435,2139.000000,0.500000,500.000000,341.50000
873,725,2010-12-12,9.200000,3.9,116.0,11.6,2237.0,10.2,3.9,211.18435,2242.000000,2.500000,2300.000000,120.70000

In [10]:
rain_train["일시"] = pd.to_datetime(rain_train["일시"])
rain_train["일시"] = rain_train["일시"].values.astype(float) # array를 반환하는건가?
rain_test["일시"] = pd.to_datetime(rain_test["일시"])
rain_test["일시"] = rain_test["일시"].values.astype(float)

In [11]:
rain_test.isnull().sum()

지점                     0
일시                     0
평균기온(°C)               0
최저기온(°C)               0
최저기온 시각(hhmi)          0
최고기온(°C)               0
최고기온 시각(hhmi)          0
최대 순간 풍속(m/s)          0
평균 풍속(m/s)             0
최대 순간 풍속 풍향(deg)       0
최대 순간풍속 시각(hhmi)       0
1시간 최다강수량(mm)          0
1시간 최다 강수량 시각(hhmi)    0
최대 순간 풍속 풍향(hhmi)      0
dtype: int64

In [13]:
X_train = rain_train.drop(columns="일강수량(mm)")
y_train = rain_train["일강수량(mm)"]
X_test = rain_test
model_ElasticNet = ElasticNet(alpha=0.1, l1_ratio=0.5)
reg = model_ElasticNet.fit(X_train, y_train)
y_pred = reg.predict(X_test)
y_pred

c:\Users\PlayData\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:634: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.678e+05, tolerance: 9.283e+01
  model = cd_fast.enet_coordinate_descent(

array([ 2.90317628e+00,  1.86136508e+01,  2.22558078e+00,  1.08629018e+00,
        4.19684813e+01,  7.38760934e+00,  2.08545466e+00,  2.06093091e+01,
        4.80729614e+00,  4.10493395e+00,  4.45169235e+00,  5.00648163e+00,
        5.48345295e+00,  4.88292389e-01, -1.45950522e+00,  2.35828855e+00,
        5.05798893e+00, -4.72808566e+00,  5.82809679e+00, -3.25316742e-01,
       -2.45067503e+00, -9.63234788e-01,  5.90753500e+00,  1.54956401e+01,
        4.01350306e+00, -1.42410580e+00,  6.83057437e+00,  3.28325999e+00,
        4.77010405e+00, -2.23853083e+00,  9.68014911e+00,  3.53890945e+01,
        1.29269070e+00, -4.69930113e+00,  6.86265768e+00, -2.35253619e+00,
        2.94977909e+00,  8.57839367e+00,  1.08742622e+01, -5.84219316e-01,
        4.94805019e+00,  1.11639225e+00,  2.02001197e+01,  3.08113634e+00,
        1.00953387e+01,  3.82589348e+00, -3.78825638e-01,  1.02511788e+00,
       -6.58123961e-01,  4.96580806e+00, -2.02497338e+00,  3.03476732e+01,
       -1.72526539e+00,  4.75855358e+00,  2.34960921e+00,  9.01732163e-02,
        5.97710907e+00,  8.83619851e+00,  4.17691568e+00, -4.68336835e-01,
        5.89567040e+00, -1.26987429e+00,  1.51685398e-02,  5.85304821e+00,
       -2.61496887e+00,  3.06208498e+00,  7.29602472e+00,  6.80933612e+00,
       -6.21610548e+00,  7.53844617e-01,  1.23144238e+00,  8.56982025e+00,
        8.25211210e+00, -2.42196387e+00,  8.25788589e+00,  4.83202431e+00,
        1.26343182e+00,  8.46165386e+00,  6.89366073e+00,  5.60225042e+00,
        1.47352973e+01, -2.82057305e+00,  3.89310277e+00,  6.84745072e+00,
       -7.35635680e-01,  5.46278914e+00,  2.52557455e+00,  5.57032781e+00,
        1.75253929e+00, -2.95169420e+00,  2.23099693e+00,  6.47501442e+00,
       -2.99234469e+00,  2.39941819e+00,  2.40572815e+00,  3.19759153e+01,
       -1.10376517e+00,  6.34334522e-01,  7.40608026e+00,  3.86052166e+00,
        6.18380527e+00, -5.96853148e-01,  2.22730323e+00,  3.57979689e+00,
        4.53816395e+00,  8.83926067e-01,  3.66090599e+00,  1.13446456e+01,
        8.06802436e+00,  2.19177287e+01,  1.18528500e+01,  5.78099705e+00,
        1.44803915e+00, -6.69004027e-01,  3.49060094e+00,  4.93930076e+00,
        1.92870610e-01,  1.04658542e+00,  7.18061572e+00,  4.07385305e+01,
        4.43487444e+00,  4.10124872e+00,  4.13721514e+00,  3.64114249e+00,
        2.71457182e+00,  6.55546886e+00,  7.27878376e+00,  1.20412848e+00,
        2.32337925e+00,  1.18021339e+00,  4.81320949e+01,  2.42068722e+00,
        1.12366450e+01,  6.64708886e+00, -5.68861116e-01,  2.99471932e+00,
        1.65314735e+01,  4.78422829e+00,  4.00555654e+00,  4.38965751e+00,
        3.60763652e+00,  6.20064664e+00,  8.54190900e+00,  2.10053822e+01,
        2.83297802e+00,  2.35593980e+00, -1.42772109e-01,  6.16398141e+00,
        2.68195211e+00,  2.24674759e+00,  3.26305551e+00,  1.54623505e-01,
       -3.19148106e+00,  8.13308277e+00,  1.45984255e+01,  3.09099019e+00,
        5.86917730e-01,  1.07346033e+01,  8.92118845e+00, -1.58379680e+00,
        5.83864726e+00,  4.72384438e+00,  1.45066340e+01,  1.32226914e+01,
       -3.24257950e+00,  5.43638981e+00, -3.76386006e+00,  3.53063442e+00,
        1.02679601e+00,  1.48095208e+01,  4.46582093e+00,  1.81846047e-01,
        6.99347148e+00,  4.62326243e+00,  1.50857376e+01,  4.68848614e+00,
        1.83010335e+00,  1.09847094e+00,  2.94284844e+00, -1.35220330e+00,
        2.23502149e+00, -7.23997115e-01,  4.88824959e+00,  4.43583089e+00,
       -8.77017165e-01,  3.49673469e+00,  5.62831651e+00,  8.39245439e+00,
        9.27765216e-01,  1.13013447e+01,  5.49161416e+00, -4.36393784e+00,
        2.60425138e+00,  3.72709031e+00,  4.70367432e+00, -7.16620380e-01,
        3.58145212e+00,  2.05981541e+00,  8.90703311e+00,  8.61675437e-01,
        1.88873419e+00,  2.84417866e+00,  4.45587789e+01,  9.55361909e+00,
        3.30359903e-01,  1.05821996e+01,  1.53401737e+00,  6.95905970e+00,
        1.47175340e+00,  1.58423720e-01,  4.00127937e+00,  7.84639394e+00,
        1.00720993e+00,  8.69506019e+00,  6.98609487e+00,  5.28248256e+00,
        8.84464258e+00,  5.19337418e+00,  6.62904138e+00,  7.29407863e+00,
       -1.58772789e+00,  3.49257755e+00,  8.70862834e+01, -3.52429471e+00,
        1.70443103e+00,  6.92941843e-01,  3.07512920e+00,  4.84060919e+00,
       -5.76451436e-01,  1.51966035e+00, -1.61795295e+00, -2.83919637e+00,
        1.16297002e+01,  1.55547221e+00, -3.27073967e-01,  6.24321498e-01,
       -1.82808193e+00,  2.02504581e-01,  2.00091479e+01,  2.42710915e+00,
        4.90676693e+00,  3.46045206e-01, -3.26392869e+00,  9.87979967e+01,
        3.86712106e+00,  6.52866471e-01,  4.78668709e-01,  3.66217199e+01,
        8.73544193e+00,  5.27413124e+00,  6.45976119e-01, -2.86384921e+00,
        1.54666764e-01,  2.66100550e+00,  4.42395226e-01,  2.82128694e+00,
        4.51218079e+00,  2.75104019e+01,  9.66456046e+00,  7.66062750e-01,
        2.78376222e+00,  1.24549605e+01,  2.99536289e+00,  7.04013509e+00,
        9.38174988e+01,  1.01539196e+01, -2.40870148e+00, -7.94411054e-01,
        9.45812254e-01,  4.55341299e+00,  1.53980813e+00, -1.91096883e+00,
        8.73943169e+00, -1.33706610e+00,  3.26432873e+00,  5.48108725e+00,
        1.49772613e+01,  7.41123858e-01,  9.81045736e+00,  7.75004710e+00,
        1.30105929e+01, -1.74103794e-01,  2.31443516e+00, -1.00725914e+00,
        2.64449670e+00, -2.41946857e+00, -4.69808775e-01, -3.55363199e-02,
       -1.01514617e-01,  1.18978216e+01,  5.61069026e+00,  2.62975520e+00,
        7.16787497e+00, -2.53675047e+00,  2.36351468e+00,  8.37138508e+00,
        3.43183013e-01,  5.39367129e+00,  3.70101547e+00,  1.18463136e-02,
        1.90268728e+01,  9.36168767e+00,  5.80352265e+00,  4.29754891e+00,
       -1.23123204e-01,  1.09647612e+00, -7.34884948e-01,  1.00544017e+01,
        5.60279638e+01,  3.25472414e-01, -1.98446517e+00,  1.44622025e+01,
       -1.65825062e+00,  4.47450836e+00,  3.25503772e+00,  3.16776339e+00,
        1.91343903e+01,  7.18742076e+00,  4.71063864e-01,  1.69907529e+02,
        2.42397116e+00,  1.45671871e+00,  6.40212838e+00, -1.21341610e+00,
        5.04878413e+01, -1.27510793e-02,  6.42420182e+00,  6.57489509e+00,
        6.93056482e+00,  1.50937806e+00, -4.89848136e+00,  1.70082035e+00,
        1.02351016e+01,  1.48288745e+00, -8.49219742e-01,  3.61039916e+00,
        9.85055561e+00,  4.95958541e+00,  4.69359407e-01,  4.03819182e+01,
        8.68377091e-01,  9.05187884e+00,  5.02144007e+00,  4.64514258e+00,
       -2.87866748e+00,  1.18657608e+01,  7.33291617e+00,  2.40433080e+01,
       -3.11213893e+00,  4.03269336e+00,  6.44596871e+00, -2.31667651e+00,
        1.66746271e+01,  2.42619045e+00, -4.03489484e+00,  1.44383054e+00,
       -4.84348510e-01,  7.08496911e-01,  4.74254935e+00, -3.23931294e+00,
        2.70604113e+00,  7.91809465e+00,  3.50539799e+00, -6.12679253e-01,
        7.79125454e+00, -1.89500378e-01, -6.38714286e-01,  6.61661808e+00,
        7.01251105e+00,  2.32398877e+00,  4.27252306e+00, -3.66744179e+00,
        9.92085864e+00, -1.22112471e+00,  2.42927894e+00,  1.43127925e+01,
        7.59426826e+00,  1.59145858e+01,  3.30962210e+00,  8.85997716e+00,
        5.16376819e+00,  1.31267601e+00,  6.65648371e-01,  3.37653320e+00,
        3.85312134e+00,  4.52040134e+00,  5.60311073e+00,  1.99625321e-01,
       -9.23923147e-01,  2.17533626e+00,  1.18012031e+00,  1.89257167e+00,
        1.55781717e+01, -3.30010053e+00,  9.38846412e+00, -2.83512364e-01,
        9.96962352e+00, -3.61889086e+00,  1.17393433e+00,  2.67452551e+00,
        8.54569552e+00, -3.59177844e+00,  6.68726512e+00, -2.07159126e+00,
        2.49287078e+00, -9.19487237e-01,  2.90007873e-01,  7.53138514e+00,
        3.63298081e+00,  7.27659482e+00,  3.72118495e+00, -1.41283601e+00,
        4.69112468e+00,  2.03623114e+00,  9.30001298e-01,  1.81520455e+01,
        3.41737887e+00,  5.16137423e+00,  4.56568428e+00, -1.06302599e+00,
        3.75042174e+00,  2.15926144e+00,  4.72807284e+00,  4.65655247e+00,
        6.55910355e+00,  2.04714630e+00,  4.65801663e+00, -1.66544568e-01,
       -5.86073133e-01, -4.04985870e+00,  7.09494470e-01,  7.45790662e-01,
        2.12400755e-01, -1.80192682e+00,  6.96515571e+00,  5.90621554e-01,
        7.38529544e+00,  7.22871052e+00, -8.78849563e-01,  6.02001310e+00,
        9.21071239e+00,  1.10777224e+01, -2.14298723e+00, -4.67646892e-01,
        1.25695592e+00,  5.75252346e+00,  8.29553686e+00, -1.26023631e+00,
        6.18416326e+00,  7.97914601e+00,  3.06532609e+00,  4.05813353e+00,
        3.64772848e+00,  5.03361586e+00,  6.63439160e+00, -3.00915869e+00,
        1.44706118e+01,  2.79215131e+00,  1.41412557e+00, -2.05120855e+00,
        1.27377881e+00,  9.15636511e+00,  2.46759417e+00,  7.82158550e-01,
        2.59051962e+00,  6.56968944e+00, -1.17292342e+00,  3.16123712e+00,
        1.73154276e+00,  1.67463570e+01,  5.99285886e+00,  3.08633782e+00,
        1.07245165e+01,  5.14340691e+00,  3.71116019e+00,  2.93096292e+00,
        2.37665470e+00,  3.36270259e+00,  7.16987017e+00,  8.94214403e-01,
        4.21021460e+01, -4.91796577e-01,  1.09539416e+01,  7.19315545e+00,
        4.92781667e+00,  4.33146049e+00,  2.79678162e+00,  5.19435640e+00,
        2.40764515e+00, -3.15450685e-01,  5.85664813e+00,  7.98548455e-01,
       -3.74735831e+00,  1.85894284e+00,  4.55897601e+00,  2.39417478e+00,
        8.72212229e+00, -8.98184808e-01, -3.99535243e-02,  9.73026149e+00,
        3.07651062e+00,  4.93989011e+00,  1.43947398e+00,  1.31137261e+00,
        9.95748768e+00,  8.49232418e+01,  1.08028776e+01, -1.55229902e+00,
        1.21396061e+01,  1.41712087e+00,  1.33973193e+00,  2.13261264e+00,
        8.52377697e-01,  4.60788221e+00,  4.32687584e+00,  2.93162998e+00,
        5.48907824e+00,  3.30282519e+00,  1.56899526e+00, -1.71165949e+00,
        6.76852144e+00, -3.26807024e+00,  1.68181894e+00,  3.20071556e+01,
        4.94125570e+01,  2.20945851e+00,  5.35082113e+00,  1.65423080e+00,
        3.33396005e+00,  1.10165585e+00,  1.10353747e+01, -2.11927889e-01,
        7.23626271e+00,  9.19359282e+00,  3.48059535e+00,  4.92927472e+00,
        4.35668936e-01, -4.97973415e+00,  1.15744407e+01,  8.00447081e+00,
        4.14278908e+00,  6.08624182e+00,  1.63885598e+01,  7.81446350e+00,
        4.92225407e+00,  1.16039065e+01,  4.98529856e+00, -1.74074067e+00,
        7.47390985e+00,  5.84917220e+00,  1.02800694e+01,  6.28391132e+00,
        7.52707129e+00,  2.84271025e+00,  5.87184268e-01,  4.52364239e+00,
       -8.07488122e-01, -3.76652402e+00,  8.78264198e+00,  6.68654515e+00,
        6.01598673e+00,  7.68680803e+00,  6.10353125e-01, -3.83597745e-01,
        3.31871800e+00, -2.41974285e+00,  1.64194845e+01,  3.56376318e+00,
        7.36485334e+00,  1.03881128e+00,  3.64670827e+00,  2.07933076e+00,
        8.95468947e+00,  5.02089555e+00,  3.70344713e-01, -3.06784342e-01,
        1.13797079e+01,  3.96029327e+00,  9.44531449e+00,  8.41358784e+00,
        1.56159848e+00,  3.50400495e+00,  1.80408946e+00,  4.59773350e+00,
       -1.04356672e+00,  6.76429632e+00,  7.21767638e+00,  2.72360523e+00,
        1.02519028e+01,  2.37699151e+00, -9.67901594e-01,  9.05567126e+00,
        9.45217156e+00,  2.74518709e+00,  3.25480136e+00,  1.07045006e+00,
       -5.35150873e+00,  6.94734703e-01, -2.97446173e+00,  7.38734886e+00,
        2.28484113e+00,  6.33100558e+00,  4.96166384e+00,  2.78221735e+01,
        7.75982220e-01,  7.22710024e+00,  1.51421202e+00, -2.39085726e+00,
       -2.90161768e+00,  5.67685110e+00,  9.50471880e+00,  1.81856217e+00,
        5.86804100e-02,  7.05824774e+00,  9.19719782e+00, -7.35454491e+00,
        4.60537762e+00,  8.62467981e+00, -3.42475836e-01,  6.68397154e+00,
        6.44281344e+00, -1.23677856e+00,  8.63686720e-01, -1.70970557e+00,
        5.16959647e+00,  5.17664332e+01, -1.61013568e-01, -1.47969904e+00,
        5.83436590e+00,  2.13635164e+00,  1.00787305e+01,  9.30747164e-01,
        1.02113846e+01,  5.10445006e+00,  3.88402937e+01,  9.20261670e+00,
        4.57545076e-01,  2.23969869e-01,  4.23203541e+00, -1.05296470e+01,
        5.68534400e+00,  1.21645018e+00,  3.94598283e+01,  2.50416827e+00,
        2.64606134e+00,  3.43784230e+00,  2.28705753e+01,  2.81210285e-01,
        8.53254823e+00,  6.88209008e+00,  3.98645327e+00,  2.87800531e+01,
        1.58419479e+01,  1.38172892e+01,  1.44879301e+00,  6.14763966e+00,
        8.00701907e+00,  2.06227899e+00,  2.66984723e+00,  2.85984644e+00,
        5.10125771e+00,  1.29683903e+00, -1.42430435e+00,  6.88357605e+00,
        1.04235098e+00,  1.98522554e-01,  7.62360939e+00, -1.18265087e+00,
        3.68572103e+00, -1.55561852e+00,  1.38842076e+00, -2.50902939e+00,
        4.32492759e+00,  1.08679103e+01, -4.57383845e+00,  4.89776302e+00,
        1.65755493e+00,  3.08029868e+00, -2.42734970e+00,  6.31396879e+00,
        1.53315197e+00,  7.57882698e+00,  2.33406284e+00,  9.60403535e+01,
        6.17335664e+00,  2.30185338e+00, -3.04496517e+00,  3.16160595e+00,
        7.14484083e+00,  4.54536798e+00,  5.54556377e+00, -2.79675448e+00,
        1.15342578e+01, -2.37559960e-01,  1.89893799e+00,  9.88609010e-01,
        6.52570071e+00,  1.85346099e+00, -1.84890927e+00,  1.39088535e+00,
       -4.31653308e-01,  3.29588206e+00, -1.32499180e+00,  2.40112033e-02,
        1.97539564e+01,  8.00080770e+00,  2.58557627e+00,  2.51031157e+00,
        1.17253607e+01,  2.15136413e+00, -5.79441377e-01,  5.89799032e+00,
        1.09005335e+00,  4.00674891e-01,  5.71684687e+00, -5.87848308e+00,
        7.03468188e+00,  6.41005121e+00,  5.09209302e+00,  2.88529034e-01,
        8.22297605e+00,  1.65691041e+01,  3.22531618e+00,  6.57241001e+00,
        4.97702244e+00,  2.13267138e+00,  4.23035611e+00,  8.64128487e+00,
        5.25155635e+00,  2.43446079e+00,  5.18811068e+01,  4.68344170e+00,
        1.95040985e+01, -1.89851195e+00,  9.48451847e-01,  1.94422796e+00,
        5.45020419e+00,  7.54563771e+00,  2.06279728e+00,  7.06601406e+00,
       -4.93693939e-01,  6.48782842e+00,  3.71606616e-01,  3.34064675e+00,
       -3.48952496e+00,  6.57608236e+00, -1.58836235e+00,  3.21866005e+00,
       -3.24266220e-01,  6.53777105e-01,  1.77800017e+00,  3.75758007e+00,
       -9.87957199e-01,  2.87203185e+00,  7.49692884e+00, -3.27685692e+00,
        9.59050260e-01,  9.13517919e+00,  2.63868287e+00,  4.29931291e+00,
        4.63182347e+00,  4.77769288e+00,  3.07514921e+00, -3.39250481e+00,
        2.72632700e-01,  1.32589002e+01,  1.51008550e+01,  5.16628480e+00,
        3.16878260e+00,  5.64868670e+00,  5.07933721e+00,  6.94814510e+00,
        1.20258474e+01,  1.28032847e+00,  3.15837698e+00, -2.65867031e-01,
        1.64058804e+00,  8.49561181e+00,  1.40924788e+00,  3.47615662e+00,
        4.10934526e+00, -1.40286671e+00,  2.28123089e+00,  1.09824126e+01,
        7.04064418e+00,  1.05216808e+00,  1.85760739e+00, -7.03876105e-01,
        7.71194161e-01,  5.41084339e+00,  1.56870244e+00, -1.15909526e+00,
       -1.77850311e+00, -1.13527648e+00,  1.94965028e+00,  1.49208682e+00,
        3.45056216e+00,  1.45161436e+01,  1.91427725e+00,  5.12168390e+00,
        5.97157913e+00,  1.15228992e+00,  4.08523816e-01,  1.68780797e+01,
        1.90566120e-01,  2.91114393e+00, -1.52972689e+00,  2.30091799e+00,
        2.58328683e+00, -3.20042862e-03, -6.24186522e-01,  3.70078576e+00,
        1.11482307e+02,  1.68842488e+00,  4.78029913e+00,  1.47007238e+01,
       -5.52298257e-01,  9.91590939e+00,  1.79071084e+00, -1.84035170e+00,
        4.63521928e+00,  5.61367044e+00,  1.87737751e+01,  5.39329389e+00,
        5.99267532e-01, -1.26524879e+00,  2.83685222e+00, -3.18878881e+00,
        3.18337471e+00,  9.05884452e+00,  1.46440056e+00,  1.07082075e+00,
       -3.79705411e+00, -5.78795011e-02,  4.28817784e+00,  4.30659966e+00,
        7.67143531e-02,  2.65358625e+01,  2.12701839e+00,  4.30225666e+01,
       -7.94361722e+00,  2.73985877e+01,  4.50811420e+00,  5.03437741e+00,
        1.02142628e+00,  1.58332327e+00,  1.93448285e+00,  9.31694196e+00,
        5.04956840e+00, -4.41665823e+00, -2.79948259e+00, -1.78146683e+00,
        6.10183965e+00,  2.61315428e+00,  1.20143906e+00,  2.37607895e+00,
        4.95007666e+00, -3.08378024e+00,  4.30425645e+00,  5.95315271e+00,
        4.45566519e+00,  3.80258623e+00,  7.49180840e+00,  7.50706598e+00,
        6.00785994e+00, -4.48165915e+00,  9.02665343e+00,  4.63778491e+00,
        1.19627649e+00,  4.99338604e+00,  1.49529141e+01,  1.48623436e+00,
        5.05460504e+00,  3.70732744e+00])

In [16]:
answer = pd.read_csv('data/rain/submission.csv')
answer["rain fall(mm)"] = y_pred
answer

      No  rain fall(mm)
0      1       2.903176
1      2      18.613651
2      3       2.225581
3      4       1.086290
4      5      41.968481
..   ...            ...
869  870       4.993386
870  871      14.952914
871  872       1.486234
872  873       5.054605
873  874       3.707327

[874 rows x 2 columns]

In [18]:
answer.to_csv("rain_project_answer", index=False)

In [24]:
rain_train[rain_train["최대 순간 풍속 풍향(hhmi)"].isnull()]

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg),최대 순간풍속 시각(hhmi),1시간 최다강수량(mm),1시간 최다 강수량 시각(hhmi),최대 순간 풍속 풍향(hhmi)
0,725,2018-11-03,16.6,14.7,439.0,18.5,1231.0,0.0,4.8,2.6,3.6,1158.0,NaN,NaN,NaN
1,725,2018-05-29,19.3,17.9,739.0,22.6,1505.0,13.5,4.9,1.9,97.1,341.0,NaN,NaN,NaN
2,725,2019-12-10,13.4,8.6,48.0,17.4,1142.0,0.0,5.1,1.8,191.1,334.0,NaN,NaN,NaN
4,725,2017-04-01,10.5,9.1,649.0,12.7,1429.0,0.0,8.6,5.3,312.7,NaN,NaN,NaN,NaN
5,725,2015-02-16,11.8,9.1,2352.0,14.3,931.0,11.5,12.0,5.5,336.4,2044.0,4.5,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,725,2019-03-25,10.0,6.8,1.0,13.1,1555.0,0.0,8.6,1.7,258.5,447.0,NaN,NaN,NaN
3496,725,2018-06-07,20.5,17.1,539.0,24.0,1223.0,0.0,2.9,1.2,324.1,258.0,NaN,NaN,NaN
3498,725,2015-12-16,6.6,2.3,2400.0,9.4,200.0,2.0,17.9,9.4,319.5,1815.0,1.0,2300.0,NaN
3499,725,2020-03-28,9.4,7.8,1138.0,10.4,2321.0,5.0,18.3,7.6,297.8,32.0,NaN,NaN,NaN
3502,725,2018-03-09,6.1,4.5,318.0,8.5,1413.0,0.0,8.6,4.1,325.9,1.0,NaN,NaN,NaN